header {
    text-align: center;
    color: #D4A163;
    background: #2B6968;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background: #6C332F;
    color: #D4A163;
}

h2 {
  color: grey;
}

.intro {
  color: grey;
}

ol {
  border: 2px dashed teal;
  width: 500px;
}
