header {
  text-align: center;
  color: #476369;
  background: #EDEDED;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  background: #476369;
  color: #000000;
}

ol {
  border: 5px dotted #ededed;
  display: inline-block;
  float: right;
}

img {
  width: 100px;
}

h2 {
  border-style: solid;
}

#quote1{
  font-style: italic;
  display: inline-block;
  float: left;
  width: 350px;

}
